<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <style>
    .footerbox{
      background-color: rgba(0, 0, 0, 0.918);
      color: rgba(255, 255, 255, 0.941);
    }
    .cpy{
      font-size: 13px;
      text-align: center;
      background-color: rgb(0, 0, 0);
    }
  </style>
</head>
<body>
    <footer>
      <div class="footerbox">
        <p class="cpy" style="height: 30px;">Curiculum Vitea © 2023, All Right Reserved Farooq</p>
      </div>
    </footer>
</body>
</html>